@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
    --orange: #ff7800;
    --green: rgb(0, 100, 0);
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --box-shadowNav: 0 5px 10px rgba(0, 0, 0, 0.1);
    --border: .2rem solid rgba(0, 0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0, 0.1);
    --outline-hover: .2rem solid var(--black);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.2s linear;

}

a {
    text-decoration: none;
}

/* Styling the menu bar  */

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: #eee;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: var(--box-shadowNav);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: var(--black);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: var(--green);
    display: block;
    text-align: center;
}

header .navbar ul li a:hover {
    background: var(--green);
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}


header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}

.menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

header .fa-arrow-right {
    float: right;
}

/* Styling the banner section  */


section {
    padding: 2rem 9%;
    
}



/* button all section  */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(30, 85, 30);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--green);
    color: #fff;
}

.heading h2{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

/* The homepage image  styling */
/* all banner images  */

.banner .content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content1 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content1 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content1 .talk h2 span {
    color: var(--green);
}

.banner .content1 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}



.banner .content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/istockphoto-1206800961-612x612.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content2 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content2 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content2 .talk h2 span {
    color: var(--green);
}

.banner .content2 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}



.banner .content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/istockphoto-1323476855-170667a.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content3 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content3 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content3 .talk h2 span {
    color: var(--green);
}

.banner .content3 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.banner .content4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/istockphoto-1206800961-612x612.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content4 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content4 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content4 .talk h2 span {
    color: var(--green);
}

.banner .content4 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.banner .content5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/istockphoto-1206800961-612x612.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content5 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content5 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content5 .talk h2 span {
    color: var(--green);
}

.banner .content5 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.banner .content6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/istockphoto-1182636594-170667a.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content6 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content6 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content6 .talk h2 span {
    color: var(--green);
}

.banner .content6 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


/* The what we do section  */

#features .col-md-2 a{
    font-size: 1.8rem;
    color: var(--orange);
    
}

#features .col-md-2 a:hover{
    color: var(--green);
}

#features .col-md-2 a i{
    margin-left: 7rem;
}

#features .col-md-2 a p{
    color: var(--black);
    text-align: center
}

#features .col-md-2 p:hover{
    color: var(--green);
}

/* The swiper image part of our website  */


.offers .offers-slider {
    padding: 1rem;
}

.brushes .offers-slider:first-child {
    margin-bottom: 2rem;
}

.offers .offers-slider .box {
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}


.offers .offers-slider .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.offers .offers-slider .box img {
    height: 20rem;
}

.offers .offers-slider .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.offers .offers-slider .box .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}

.offers .offers-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--orange);
    padding: 0.5rem 0;
}



































@media(max-width: 991px) {

    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgb(0, 0, 0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;

    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }


    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
    }

    /* The slider image part  */
    section {
        padding: 2rem;
    }


}