@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
    --orange: #ff7800;
    --green: rgb(0, 100, 0);
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --box-shadowNav: 0 5px 10px rgba(0, 0, 0, 0.1);
    --border: .2rem solid rgba(0, 0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0, 0.1);
    --outline-hover: .2rem solid var(--black);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.2s linear ;
    
}

/* Styling the menu bar  */

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: #eee;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    background: #fff;
    box-shadow: var(--box-shadowNav);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: var(--black);
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: var(--green);
    display: block;
}

header .navbar ul li a:hover{
    background: var(--green);
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff ;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0.1);
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}


header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

.menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}


























































@media(max-width: 991px){

    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgb(0, 0, 0.1);
        display: none;
    }
    header .navbar ul li{
        width: 100%;

    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    
    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}