@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root {
    --orange: #ff7800;
    --green: rgb(0, 100, 0);
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --box-shadowNav: 0 5px 10px rgba(0, 0, 0, 0.1);
    --border: .2rem solid rgba(0, 0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0, 0.1);
    --outline-hover: .2rem solid var(--black);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.2s linear;

}

a {
    text-decoration: none;
}

/* Styling the menu bar  */

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: #eee;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: var(--box-shadowNav);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: var(--black);
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: var(--green);
    display: block;
    text-align: center;
}

header .navbar ul li a:hover {
    background: var(--green);
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}


header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}

.menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

header .fa-arrow-right {
    float: right;
}

/* Styling the banner section  */


section {
    padding: 2rem 9%;

}



/* button all section  */

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(30, 85, 30);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--green);
    color: #fff;
}

/* 
Styling the other button for textalign center */

.btn1 {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    border: 0.2rem solid rgb(30, 85, 30);
    color: var(--black);
    cursor: pointer;
    background: none;
    margin-left: 9.3rem;
}

.btn1:hover {
    background: var(--green);
    color: #fff;
}



.heading h2 {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 2.8rem;
    color: var(--black);
}

/* The homepage image  styling */
/* all banner images  */

.banner .content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/bannerBg2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content1 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content1 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content1 .talk h2 span {
    color: var(--green);
}

.banner .content1 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}



.banner .content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/banner6.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content2 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content2 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content2 .talk h2 span {
    color: var(--green);
}

.banner .content2 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}



.banner .content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/free.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content3 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content3 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content3 .talk h2 span {
    color: var(--green);
}

.banner .content3 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.banner .content4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/istockphoto-1206800961-612x612.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content4 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content4 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content4 .talk h2 span {
    color: var(--green);
}

.banner .content4 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.banner .content5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/istockphoto-1206800961-612x612.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content5 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content5 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content5 .talk h2 span {
    color: var(--green);
}

.banner .content5 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


.banner .content6 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/istockphoto-1182636594-170667a.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    height: 700px;
    width: 100%;

}

.banner .content6 .talk {
    text-align: center;
    width: 60rem;
}

.banner .content6 .talk h2 {
    color: var(--black);
    font-size: 3rem;
}

.banner .content6 .talk h2 span {
    color: var(--green);
}

.banner .content6 .talk p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


/* The what we do section  */

#features .col-md-2 a {
    font-size: 1.8rem;
    color: var(--orange);

}

#features .col-md-2 a:hover {
    color: var(--green);
}

#features .col-md-2 a i {
    margin-left: 7rem;
}

#features .col-md-2 a p {
    color: var(--black);
    text-align: center
}

#features .col-md-2 p:hover {
    color: var(--green);
}

/* The swiper image part of our website  */


.offers .offers-slider {
    padding: 1rem;
}

.brushes .offers-slider:first-child {
    margin-bottom: 2rem;
}

.offers .offers-slider .box {
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}


.offers .offers-slider .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.offers .offers-slider .box img {
    height: 20rem;
}

.offers .offers-slider .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.offers .offers-slider .box .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}

.offers .offers-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--orange);
    padding: 0.5rem 0;
}

.combat .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.combat .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}


.combat .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.combat .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}


.combat .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}


.combat .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--light-color);
    padding: 1rem 0;
}

/* making 4 grid templates this time around  */

.combat1 .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.combat1 .box-container .box {
    padding: 3rem 2rem;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.combat1 .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.combat1 .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.combat1 .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.combat1 .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

/* Styling another section for get prescriptions  */


#get {
    text-align: center;
}

#get .col-md-6 h4 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--black);
    margin-top: 3.5rem;
}

/* Styling the brands we sell section  */
.brands .col-md-2 img {
    border-radius: 50%;
}


/* Styling the review sections  */
.review .review-slider {
    padding: 1rem;
}

.review .review-slider .box {
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.2s linear;
}

.review .review-slider .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.review .review-slider .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p {
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3 {
    padding-bottom: 0.5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars i {
    color: var(--orange);
    font-size: 1.7rem;
}


/* Styling the blog section  */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.blogs .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a {
    color: var(--light-color);
    font-size: 1.5rem;
}


.blogs .box-container .box .content .icons a:hover {
    color: var(--black);
}

.blogs .box-container .box .content .icons a i {
    color: var(--orange);
    padding-right: 0.5rem;
}


.blogs .box-container .box .content h3 {
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: 0.5rem 0;
}


.blogs .box-container .box .content p {
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

/* styling the footer  */


.footer .col-md-3 h3 {
    line-height: 2.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: 0.5rem 0;
    display: inline
}

.footer .col-md-3 p {
    line-height: 1.8;
    color: #fff;
    font-size: 1.4rem;
}

.footer .col-md-3 h5 {
    font-size: 2.2rem;
    color: #fff;
}


.footer .col-md-3 .numLink h5 {
    font-size: 2.0rem;
    color: #fff;
    padding: 0.5rem 0;
    display: inline
}

.footer .col-md-3 .numLink h5:hover {
    color: var(--black);
    text-decoration: underline;

}

/* Styling social media fonts  */

.footer .col-md-3 .socialLinks a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: var(--black);
    background: #eee;
    text-align: center;
}

.footer .col-md-3 .socialLinks a:hover {
    background: var(--green);
    color: #fff;
}

.footer .col-md-3 .paymentImage {
    margin-top: 2rem;
    height: 3rem;
}

.footer .maker {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
    border-top: var(--border);
}

.footer .maker span {
    color: var(--black);
}


/* Styling the anti'malarial page  */
.anti {
    padding-top: 17rem;
    padding-bottom: 10rem;
    width: 100%;
    text-align: left;
}

.anti .first h2 {
    font-size: 2.5rem;
    line-height: 6.5rem;
    color: var(--black);
}

.anti .first p {
    font-size: 1.4rem;
    line-height: 4.5rem;

}

.anti .first a h4 {
    font-size: 1.9rem;
    display: inline-flex;
    color: var(--black);
}


.anti .first a h4:hover {
    color: var(--black);
    text-decoration: underline;
    font-weight: 550;
}

.anti .first h4 {
    font-size: 1.7rem;
    line-height: 4.0rem;
}

/* The image showing drugs we seell  */

.anti .col-md-3 h6 {
    text-align: center;
    font-size: 2.2rem;
    line-height: 3.4rem;
    color: var(--black);
}


.anti .col-md-3 p {
    font-size: 1.6rem;
    text-align: center;
    line-height: 3.3rem;
}

.anti .col-md-3 .stars {
    color: var(--orange);
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.7rem;
}


/* styling the other containers  */
.anti1 {
    padding-top: 8rem;
    padding-bottom: 10rem;
    width: 100%;
    text-align: left;
}

.anti1 .first h2 {
    font-size: 2.5rem;
    line-height: 6.5rem;
    color: var(--black);
}

.anti1 .first p {
    font-size: 1.4rem;
    line-height: 4.5rem;

}

.anti1 .first a h4 {
    font-size: 1.9rem;
    display: inline-flex;
    color: var(--black);
}


.anti .first a h4:hover {
    color: var(--black);
    text-decoration: underline;
    font-weight: 550;
}

.anti1 .first h4 {
    font-size: 1.7rem;
    line-height: 4.0rem;
}

/* The image showing drugs we seell  */

.anti1 .col-md-3 h6 {
    text-align: center;
    font-size: 2.2rem;
    line-height: 3.4rem;
    color: var(--black);
}


.anti1 .col-md-3 p {
    font-size: 1.6rem;
    text-align: center;
    line-height: 3.3rem;
    color: var(--black);
}

.anti1 .col-md-3 .stars {
    color: var(--orange);
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.7rem;
}



































@media(max-width: 991px) {

    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgb(0, 0, 0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;

    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }


    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked~.navbar {
        display: initial;
    }


    section {
        padding: 2rem;
    }
    #get .col-md-6 h4 {
        font-size: 1.8rem;
        text-align: center;
        font-weight: bold;
        color: var(--black);
        margin-top: 3.5rem;
    }



}

@media (max-width:768px) {
    .header .navbar {
        position: absolute;
        top: 0;
        right: 0;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: 0.5rem;
        background: #fff;
    }

    .header .navbar.active {
        right: 2rem;
        transition: 0.4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (maxwidth:450px) {
    html {
        font-size: 50%;
    }

    .heading h2 {
        font-size: 1.3rem;
    }

    .footer {
        text-align: center;
    }

    

}